.search {
  text-align: center;
  padding: var(--padding-xl) var(--padding-md);
}

.search input {
  padding: var(--padding-sm) var(--padding-lg);
  font-size: var(--font-size-sm);
  border-radius: 25px;
  border: 1px solid rgba(255,255,255,0.9);
  background: rgba(255,255,255,0.1);
}

.search input:focus {
  outline: none;
}

.search input::placeholder {
  color: #dddddd;
}
