.hidden {
  display: none;
}

.bottom {
  display: flex;
  flex-direction: row;
  justify-content:space-evenly;
  text-align: center;
  width: 100%;
  margin: 1rem auto;
  padding: var(--padding-sm) var(--padding-md);
  background-color: rgba(255,255,255,0.2);
  border-radius: 50px;
}

p {
  color: white;
  font-size: var(--font-size-sm);
}

.bold {
 font-weight: 700;
}

/* Media Queries */
@media (max-width: 420px), (max-height: 300px) {
  p {
    font-size: var(--font-size-xs);
  }
}
