.hidden {
  display: none;
}

.top {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.top div:first-child {
  padding-bottom: 0.2rem;
}

.top div:not(:last-child) {
  margin-bottom: 0.2rem;
}

.location {
  font-size: var(--font-size-lg);
  font-weight: 500;
}

.temperature {
  text-align: center;
  font-size: var(--font-size-xl);
  font-weight: 700;
}

.description {
  text-align: center;
  font-size: var(--font-size-md);
  font-weight: 400;
}
